# ML US baby names

## 3. Generate model

In [1]:
from constants import *
print("YEAR_START:", YEAR_START)
print("YEAR_END:", YEAR_END)
print("COMPUTE_YEARS_BACKWARDS:", COMPUTE_YEARS_BACKWARDS)
print("RAW_CSV:", RAW_CSV)
print("RAW_CSV_COUNTRY:", RAW_CSV_COUNTRY)
print("FEATURES_CSV:", FEATURES_CSV)

YEAR_START: 1960
YEAR_END: 2021
COMPUTE_YEARS_BACKWARDS: 5
RAW_CSV: data_raw_year_state.csv
RAW_CSV_COUNTRY: data_raw_country.csv
FEATURES_CSV: data_features_%s.csv

In [2]:
import pandas

df = pandas.read_csv(FEATURES_CSV % "all")
df

,year,name,AK_0,AL_0,AR_0,AZ_0,CA_0,CO_0,CT_0,DC_0,...,TN_5,TX_5,UT_5,VA_5,VT_5,WA_5,WI_5,WV_5,WY_5,next_max
0,1960,Aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1960,Abel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1960,Abigail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1960,Abraham,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1960,Ace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53687,2021,Zackary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
53688,2021,Zander,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
53689,2021,Zane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
53690,2021,Zayden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
53691,2021,Zion,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.253333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [3]:
df_clean = df.copy()
df_clean.drop(['year', 'name'], axis=1, inplace=True)
df_clean.dropna(inplace=True)
df_clean

,AK_0,AL_0,AR_0,AZ_0,CA_0,CO_0,CT_0,DC_0,DE_0,FL_0,...,TN_5,TX_5,UT_5,VA_5,VT_5,WA_5,WI_5,WV_5,WY_5,next_max
4330,0.0,0.0,0.0,0.0,0.04709,0.0,0.0,0.057453,0.04898,0.000000,...,0.0,0.0,0.0,0.0,0.04902,0.049063,0.0,0.000000,0.0,0.0
4331,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
4332,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
4333,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
4334,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52821,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
52822,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
52823,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0
52824,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.014736,0.0,0.0
52825,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.222222,0.00000,0.145234,...,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
#from sklearn.linear_model import LogisticRegression
#from sklearn.svm import SVC
#from sklearn.neural_network import MLPClassifier

columns_features = list(df_clean.columns[0:-1])
column_label = df_clean.columns[-1]

X = df_clean[columns_features]
y = df_clean[column_label]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
#model = LogisticRegression()
#model = SVC(kernel="linear")
#model = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = model.score(X_test, y_pred)
print("Accuracy y_pred:", accuracy)

Accuracy y_pred: 1.0

In [5]:
def predict_next(df, classifier):
    if len(set(df["year"])) > 1:
        raise Exception("Data from more than one year included in the dataset.")
    
    # remove year and name from beginning, and next_max from end
    X = df.copy()
    X = X.iloc[:, 2:-1]
    
    # predict
    pred = classifier.predict(X)
    
    # take only year and name
    df_pred = df.copy()
    df_pred = df_pred.iloc[:, 0:2]
    #add prediction
    df_pred["pred"] = pred
    
    # return names of possitives
    return list(df_pred[df_pred["pred"] > 0]["name"])

In [19]:
print("Predictions:")
print()

df_clean = df.dropna()

total_preds = 0
guessed_preds = 0

for year in range(YEAR_START, YEAR_END):
    print("%d " % (year + 1), end="")
    
    df_year = df_clean[df_clean["year"] == year]
    if len(df_year) == 0:
        print("Not enough data (minimum of %s years backwards needed)." % COMPUTE_YEARS_BACKWARDS)
        continue
    
    total_preds += 1
    
    next_max = df_year[df_year["next_max"] == 1].iloc[0]["name"]
    prediction = predict_next(df_year, model)
    
    if len(prediction) == 0:
        print("❌ ", end="")
        print("Predicted: %s. " % "none", end="")
    elif len(prediction) > 1:
        print("❌ ", end="")
        print("Predicted: %d (%s). " % (len(prediction), ", ".join(prediction)), end="")
    elif prediction[0] != next_max:
        print("❌ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
    else:
        print("✅ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
        guessed_preds += 1
    
    print("Most common name was: %s. " % next_max, end="")
    print()

print()
print("%d out of %d correct predictions (%.0f%%)." % \
    (guessed_preds, total_preds, guessed_preds * 100 / total_preds))

print()
print("Prediction for this year:")
print()

year = YEAR_END
print("%d " % (year + 1), end="")

df_year = df[df["year"] == year]
if len(df_year) == 0:
    print("Error! No data found.")
else:
    prediction = predict_next(df_year, model)
    
    if len(prediction) == 0:
        print("❌ ", end="")
        print("Predicted: %s. " % "none", end="")
    elif len(prediction) > 1:
        print("❌ ", end="")
        print("Predicted: %d (%s). " % (len(prediction), ", ".join(prediction)), end="")
    else:
        print("❓ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
        print()

Predictions:

1961 Not enough data (minimum of 5 years backwards needed).
1962 Not enough data (minimum of 5 years backwards needed).
1963 Not enough data (minimum of 5 years backwards needed).
1964 Not enough data (minimum of 5 years backwards needed).
1965 Not enough data (minimum of 5 years backwards needed).
1966 ✅ Predicted: Michael. Most common name was: Michael.
1967 ✅ Predicted: Michael. Most common name was: Michael.
1968 ✅ Predicted: Michael. Most common name was: Michael.
1969 ✅ Predicted: Michael. Most common name was: Michael.
1970 ✅ Predicted: Michael. Most common name was: Michael.
1971 ✅ Predicted: Michael. Most common name was: Michael.
1972 ✅ Predicted: Michael. Most common name was: Michael.
1973 ✅ Predicted: Michael. Most common name was: Michael.
1974 ✅ Predicted: Michael. Most common name was: Michael.
1975 ✅ Predicted: Michael. Most common name was: Michael.
1976 ✅ Predicted: Michael. Most common name was: Michael.
1977 ✅ Predicted: Michael. Most common name was: Michael.
1978 ✅ Predicted: Michael. Most common name was: Michael.
1979 ✅ Predicted: Michael. Most common name was: Michael.
1980 ✅ Predicted: Michael. Most common name was: Michael.
1981 ✅ Predicted: Michael. Most common name was: Michael.
1982 ✅ Predicted: Michael. Most common name was: Michael.
1983 ✅ Predicted: Michael. Most common name was: Michael.
1984 ✅ Predicted: Michael. Most common name was: Michael.
1985 ✅ Predicted: Michael. Most common name was: Michael.
1986 ✅ Predicted: Michael. Most common name was: Michael.
1987 ✅ Predicted: Michael. Most common name was: Michael.
1988 ✅ Predicted: Michael. Most common name was: Michael.
1989 ✅ Predicted: Michael. Most common name was: Michael.
1990 ✅ Predicted: Michael. Most common name was: Michael.
1991 ✅ Predicted: Michael. Most common name was: Michael.
1992 ✅ Predicted: Michael. Most common name was: Michael.
1993 ✅ Predicted: Michael. Most common name was: Michael.
1994 ✅ Predicted: Michael. Most common name was: Michael.
1995 ✅ Predicted: Michael. Most common name was: Michael.
1996 ✅ Predicted: Michael. Most common name was: Michael.
1997 ✅ Predicted: Michael. Most common name was: Michael.
1998 ✅ Predicted: Michael. Most common name was: Michael.
1999 ✅ Predicted: Jacob. Most common name was: Jacob.
2000 ✅ Predicted: Jacob. Most common name was: Jacob.
2001 ✅ Predicted: Jacob. Most common name was: Jacob.
2002 ✅ Predicted: Jacob. Most common name was: Jacob.
2003 ✅ Predicted: Jacob. Most common name was: Jacob.
2004 ✅ Predicted: Jacob. Most common name was: Jacob.
2005 ✅ Predicted: Jacob. Most common name was: Jacob.
2006 ✅ Predicted: Jacob. Most common name was: Jacob.
2007 ✅ Predicted: Jacob. Most common name was: Jacob.
2008 ✅ Predicted: Jacob. Most common name was: Jacob.
2009 ✅ Predicted: Jacob. Most common name was: Jacob.
2010 ✅ Predicted: Jacob. Most common name was: Jacob.
2011 ✅ Predicted: Jacob. Most common name was: Jacob.
2012 ✅ Predicted: Jacob. Most common name was: Jacob.
2013 ✅ Predicted: Noah. Most common name was: Noah.
2014 ✅ Predicted: Noah. Most common name was: Noah.
2015 ✅ Predicted: Noah. Most common name was: Noah.
2016 ✅ Predicted: Noah. Most common name was: Noah.
2017 ✅ Predicted: Liam. Most common name was: Liam.
2018 ✅ Predicted: Liam. Most common name was: Liam.
2019 ✅ Predicted: Liam. Most common name was: Liam.
2020 ✅ Predicted: Liam. Most common name was: Liam.
2021 ✅ Predicted: Liam. Most common name was: Liam.

56 out of 56 correct predictions (100%).

Prediction for this year:

2022 ❓ Predicted: Liam.